*.iml
.classpath
.idea
.project
.settings
.springBeans
*.releaseBackup
*/target*
*/log
target
log
*.log
.DS_Store
release.properties
.idea
docker/*.[w|e|j]ar
*.[w|e|j]ar
~HEAD
${*}
/bin/
.cache-main
.cache-tests
charts
*.retry
*.bak
hosts